* { /* CSS Reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p,span {

  font-family: 'Quicksand', sans-serif;

}

h1,h2,h3,h4,h5,h6,a {

  font-family: 'Bitter', serif;

}

header {
	display: flex;
	padding: 0.8rem;
	align-items: center;
	border-bottom: 1px solid gray;
	font-family: 'Quicksand', sans-serif;
}

header .nav-logo {
	display: flex;
    flex-grow: 2;
}

header div {

	margin: .5rem;

}

#container {

	display: flex;
	height: 80vh;

}

aside {
	display: flex;
	flex-direction: column;
	width: 250px;
	margin-right: 30px;
	padding: 25px;
	background: #3399ff;
}

.side-links {
	text-decoration: none;
	margin: 10px 10px 10px 10px;
	text-align: center;	
	font-size: 1.5rem;
	color: black;
}


#shoeGallery {
	display: flex;
	flex-direction: row;
	margin-top: 20px;

}

.shoeCards {

	width: 250px;
	border-radius: 25px;
	border: 1px solid black;
	padding: 25px;
	margin:0 20px 20px 0;	

}

.shoes {

	width: 200px;
	height: 200px;

}

footer {
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    border-top: 1px solid gray;
}
footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
